body,
html {
  height: 100%;
  font-family: "Cabin", sans-serif;
}
.pokemon-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  background: black;
}

.header-title {
  color: white;
  font-size: 20px;
}

.pokeball-icon {
  max-width: 40px;
  margin-right: 10px;
}

.main-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  background-image: url("../assets/img/pokedex-background.jpg");
  background-size: 100% 100%;
  padding: 20px;
  position: relative;
  overflow: auto;
}

footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer > p {
  text-align: center;
  color: white;
  width: 30%;
  font-size: 30px;
}

@media only screen and (max-width: 980px) {
  .main-container {
    align-items: flex-start;
  }

  .pokemon-header {
    justify-content: center;
  }
}
